:root {
    --sans-font: Georgia, "Times New Romans", serif;
    --bg: mintcream;
    --border: darkslategray;
    --accent-bg: honeydew;
    --text: darkslategray;
    --accent: mediumvioletred;
    --accent-hover: mediumvioletred;
    --marked: mediumspringgreen;
  }
  
  /* Dark theme */
  @media (prefers-color-scheme: dark) {
    :root,
    ::backdrop {
      color-scheme: dark;
      --bg: rgb(17, 18, 18);
      --border: rgb(80, 90, 90);
      --accent-bg: rgb(35, 35, 36);
      --text: ghostwhite;
      --accent: lightskyblue;
      --accent-hover: lightblue;
      --marked: gold;
    }
  }